﻿@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<div id="content"></div>

</div>

<div class="row">
	<button type="button" class="btn btn-warning" onclick="tess.doSomething();">I'm outside of React</button>
	<button type="button" class="btn btn-info" onclick="tess.renderTile();">Resource Tile</button>
	<button type="button" class="btn btn-success" onclick="tess.renderHello();">Hello</button>
	<button type="button" class="btn btn-danger" onclick="tess.clear();">Clear</button>
</div>
<div class="row" style="margin-top: 40px;">
	<div id="otherContent"></div>
</div>
	@section scripts{
		<script>
			var tess = {};


		</script>
		<script type="text/javascript" src="/dist/bundle.js" charset="utf-8"></script>
		<script>
			var foo = "blar";
			tess.renderTile();
		</script>
}
